plugins {
    id 'nf-amazon'
}

profiles {

    amazon {

        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        workDir = 's3://vkc-nf-work/'

        process {

            executor = 'awsbatch'
            queue = 'Nextflow-Batch-EC2-Queue'
    
            withName: metaphlan {
                memory = '8.G'
                time   = '12.h'
                cpus  =  8
                container = 'public.ecr.aws/j5i5h1i5/metaphlan-nodb:mamba-v3.1'
                
            }

            withName: humann {
                memory = '32.G'
                time   = '24.h'
                cpus  =  16
                container = 'public.ecr.aws/j5i5h1i5/humann-nodb:mamba-v3.7'
            }

            withName: humann_rename {
                memory = '16G'
                time   = '1.h'
                cpus  =  8
                container = 'public.ecr.aws/j5i5h1i5/humann-nodb:mamba-v3.7'
            }

            withName: humann_regroup {
                memory = '16G'
                time   = '1.h'
                cpus  =  8
                container = 'public.ecr.aws/j5i5h1i5/humann-nodb:mamba-v3.7'
            }
        }

    }
}
