plugins {
    id 'nf-amazon'
}

profiles {
    standard {
        process.executor = 'local'
    }

    engaging {
        process {

            executor = 'slurm'
            queue = 'newnodes'
    
            withName: kneaddata {
                memory = '8.G'
                time   = '8.h'
                cpus  =  8
                
            }

            withName: metaphlan {
                memory = '8G'
                time   = '4h'
                cpus  =  8
                
            }

            withName: humann {
                memory = '16G'
                time   = '12h'
                cpus  =  16
            }

        }

    }

    amazon {

        aws.region = 'us-east-1'
        aws.batch.cliPath = '/home/ec2-user/micromamba/bin/aws'
        workDir = 's3://vkc-nextflow-work/'

        process {

            executor = 'awsbatch'
    
            withName: kneaddata {
                maxForks = 4
                memory = '16.G'
                time   = '12.h'
                cpus  = 16
                container = 'public.ecr.aws/j5i5h1i5/kneaddata-nodb:mamba-v0.10'
                queue = 'Nexflow-kneaddata'
                
            }

            withName: metaphlan {
                maxForks = 4
                memory = '8.G'
                time   = '12.h'
                cpus  =  8
                container = 'public.ecr.aws/j5i5h1i5/metaphlan-nodb:mamba-v3.1'
                queue = 'Nextflow-metaphlan'                
            }

            withName: metaphlan_bzip {
                maxForks = 1
                memory = '8.G'
                time   = '2.h'
                cpus  =  2
                container = 'public.ecr.aws/j5i5h1i5/bzip2:mamba-v1.0.8'
                queue = 'Nextflow-IOPS'
                
            }

            withName: humann {
                maxForks = 4
                memory = '32.G'
                time   = '24.h'
                cpus  =  16
                container = 'public.ecr.aws/j5i5h1i5/humann-nodb:mamba-v3.7'
                queue = 'Nextflow-humann'                
            }

            withName: humann_rename {
                maxForks = 1
                memory = '32G'
                time   = '1.h'
                cpus  =  2
                container = 'public.ecr.aws/j5i5h1i5/humann-nodb:mamba-v3.7'
                queue = 'Nextflow-IOPS'
            }

            withName: humann_regroup {
                maxForks = 1
                memory = '16G'
                time   = '1.h'
                cpus  =  2
                container = 'public.ecr.aws/j5i5h1i5/humann-nodb:mamba-v3.7'
                queue = 'Nextflow-IOPS'
            }
        }

    }
}
