// Tufts HPC — database paths (Bonham Lab shared storage)
// Override any value on the CLI: --host_genome /path/to/other/db
params {
    host_genome      = '/cluster/tufts/bonhamlab/shared/databases/kneaddata/hg38'
    metaphlan_db      = '/cluster/tufts/bonhamlab/shared/databases/metaphlan'
    metaphlan_index   = 'mpa_vJun23_CHOCOPhlAnSGB_202307'
    metaphlan_version = 'metaphlan_v4'
    humann_db         = '/cluster/tufts/bonhamlab/shared/databases/humann3'
    humann_version    = 'humann_v37'
    strainphlan_db    = null
    baqlava_db        = null
    phylophlan_path   = null
}
