// Tufts HPC — SLURM batch queue, Apptainer containers
process {
    executor = 'slurm'
    queue    = 'batch'
    memory   = '4.G'
    time     = '2.h'
    cpus     = 2

    withName: 'single_end_kneaddata|paired_end_kneaddata' {
        memory = '8.G'
        time   = '8.h'
        cpus   = 8
    }

    withName: metaphlan {
        memory = '32.G'
        time   = '4.h'
        cpus   = 8
    }

    withName: humann {
        memory = '32.G'
        time   = '8.h'
        cpus   = 16
    }

    withName: 'humann_regroup|humann_regroup_ecs|humann_rename|humann_renorm|humann_join|humann_join_relab|humann_count_features|humann_feature_counts_merge|rna_dna_norm' {
        memory = '16.G'
        time   = '2.h'
        cpus   = 2
    }

    withName: baqlava {
        memory = '16.G'
        time   = '8.h'
        cpus   = 4
    }

    withName: 'sample2markers|strainphlan' {
        memory = '16.G'
        time   = '8.h'
        cpus   = 8
    }

    withName: megahit {
        memory = '64.G'
        time   = '24.h'
        cpus   = 16
    }

    withName: align_and_depth {
        memory = '32.G'
        time   = '12.h'
        cpus   = 8
    }

    withName: metabat2 {
        memory = '32.G'
        time   = '8.h'
        cpus   = 8
    }

    withName: 'checkm2|checkm2_merge|mag_n50|checkm2_wrangling' {
        memory = '32.G'
        time   = '8.h'
        cpus   = 8
    }

    withName: 'phylophlan_metagenomic|phylophlan_merge' {
        memory = '64.G'
        time   = '24.h'
        cpus   = 16
    }
}

apptainer {
    enabled    = true
    autoMounts = true
    runOptions = '--no-home --bind /cluster'
}
